torch==2.6.0
torchvision==0.21.0
transformers==4.37.2
tokenizers==0.15.1
timm==0.9.12
einops==0.6.1
einops-exts==0.0.4
sentencepiece
accelerate
safetensors
decord
opencv-python-headless
faiss-cpu
pandas
pyarrow
scikit-learn
matplotlib
pyyaml
pynvml
numpy
